<form name="userForm" novalidate role="form">
    <div ng-show="currentTabMain">
        <div class="page page-grid">
            <div class="panel panel-default table-dynamic">
                <div class="panel-heading"><strong>User</strong> <span class="pull-right"><a ng-click="onClickAdd()" style="cursor: pointer"><span class="glyphicon glyphicon-plus"></span><span data-i18n="Add User"></span> </a></span>  </div>
                <div class="panel-body">
                    <div class="table-filters">
                        <div class="row">
                            <div class="col-sm-4 col-xs-6">
                                    <input type="text"
                                           placeholder="Search..."
                                           class="form-control"
                                           ng-model="searchKeywords"
                                           ng-keyup="search()">
                            </div>
                        </div>
                    </div>
                    <br/>
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    <div class="th">
                                        User Name
                                        <span class="ti-angle-up"
                                              data-ng-click=" order('userName') "
                                              data-ng-class="{active: row === 'userName'}" style="cursor: pointer"></span>
                                        <span class="ti-angle-down"
                                              data-ng-click=" order('-userName') "
                                              data-ng-class="{active: row === '-userName'}" style="cursor: pointer"></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        First Name
                                        <span class="ti-angle-up"
                                              data-ng-click=" order('firstName') "
                                              data-ng-class="{active: row === 'firstName'}" style="cursor: pointer"></span>
                                        <span class="ti-angle-down"
                                              data-ng-click=" order('-firstName') "
                                              data-ng-class="{active: row === '-firstName'}" style="cursor: pointer"></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Email Id
                                        <span class="ti-angle-up"
                                              data-ng-click=" order('emailId') "
                                              data-ng-class="{active: row === 'emailId'}" style="cursor: pointer"></span>
                                        <span class="ti-angle-down"
                                              data-ng-click=" order('-emailId') "
                                              data-ng-class="{active: row === '-emailId'}" style="cursor: pointer"></span>
                                    </div>
                                </th>
                                <th class="col-md-1">  
                                    <div class="th">
                                        Action
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr ng-repeat="user in currentPageUsers">
                                <td>{{user.userName }}</td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.emailId}}</td>
                                <td class="col-md-1"> 
                                    <a  class="" ng-click="onClickEdit($index)" style="cursor: pointer" > <span class="glyphicon glyphicon-pencil"></span></a>
                                    &nbsp; <a  class="" ng-click="deleteUser($index)" zc-Confirm-Click="Are You sure want to delete user" style="cursor: pointer"> <span class="glyphicon glyphicon-trash"></span> </a> 
                                    &nbsp;<a  class="" ng-click="onClickView($index)" style="cursor: pointer" > <span class="glyphicon glyphicon-eye-open"></span> </a> 
                                </td>                      
                            </tr> 
                        </tbody>
                    </table>
                    <footer class="table-footer">
                        <div class="row">
                            <div class="col-md-6 page-num-info">
                                <span>
                                    Show 
                                    <select ng-model="numPerPage"
                                            ng-options="num for num in numPerPageOpt"
                                            ng-change="onNumPerPageChange()">
                                    </select> 
                                    entries per page
                                </span>
                            </div>
                            <div class="col-md-6 text-right pagination-container">
                                <pagination class="pagination-sm"
                                            ng-model="currentPage"
                                            total-items="filteredUsers.length"
                                            max-size="4"
                                            ng-change="select(currentPage)"
                                            items-per-page="numPerPage"
                                            rotate="false"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            boundary-links="true"></pagination>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div ng-hide="currentTabMain">
        <div class="page">
            <div class="panel panel-default">
                <div class="panel-heading"><h3><strong>  User management</strong>  </h3>
                </div>
                <div class="panel-body">
                    <div class="text-right">
                        <a class="btn btn-w-md btn-gap-v btn-round btn-danger" ng-click="onClickList()" style="cursor: pointer;margin-right: 20px" ng-hide="readStatus"><span class="glyphicon glyphicon-remove"></span> &nbsp; Cancel</a>              
                        <button  class="btn btn-w-md btn-gap-v btn-round btn-success" ng-click="Submit(userForm.$valid)"  ng-hide="readStatus"><span class="glyphicon glyphicon-ok"></span> &nbsp; Submit </button>
                        <a class="btn btn-w-md btn-gap-v btn-round btn-info" ng-click="onClickList()" style="cursor: pointer" ng-show="readStatus"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Back</a>              
                    </div>
                    <div class="row">
                        <h4 > <strong> &nbsp; Primary Details </strong></h4>
                        <hr/>
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">First Name*</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.primary_firstname.$invalid && formValidStatus  }" >
                                        <input tabindex="3" type="text" class="form-control input-sm" name="primary_firstname" ng-model="user.firstName" placeholder="Enter firstname"  required="" ng-pattern="/^[A-Za-z]*$/" ng-readonly="readStatus">
                                        <p class="help-block" ng-show="userForm.primary_firstname.$error.required && userForm.primary_firstname.$dirty" ng-class="{ 'error_msg' : userForm.primary_firstname.$error.required }">Firstname is required</p>
                                        <p class="help-block" ng-show="userForm.primary_firstname.$error.pattern" ng-class="{ 'error_msg' : userForm.primary_firstname.$error.pattern}">Firstname should be text only</p>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">Last Name*</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.primary_lastname.$invalid && formValidStatus  }" >
                                        <input tabindex="5" type="text" class="form-control input-sm" name="primary_lastname" ng-model="user.lastName"  placeholder="Enter lastname"  required="" ng-pattern="/^[A-Za-z]*$/" ng-readonly="readStatus">
                                        <p class="help-block" ng-show="userForm.primary_lastname.$error.required && userForm.primary_lastname.$dirty" ng-class="{ 'error_msg' : userForm.primary_lastname.$error.required }">Lastname is required</p>
                                        <p class="help-block" ng-show="userForm.primary_lastname.$error.pattern" ng-class="{ 'error_msg' : userForm.primary_lastname.$error.pattern}">Lastname should be text only</p>

                                    </div>
                                </div>
                                                              
                                <div class="form-group" >
                                    <label   class="col-sm-3 control-label">Role Type</label>
                                    <div class="dropdown col-sm-8" ng-class="{ 'has-error' : userForm.primary_role_type.$invalid && formValidStatus  }" >
                                        <select tabindex="7" class="form-control input-sm"  name="primary_role_type" ng-readonly="readStatus" ng-model="user.roleType"  ng-options="value.roleType as value.roleName for value in constant.ROLE">
                                             <option value="">---Please select---</option> <!-- not selected / blank option -->
                                        </select>
                                        <p class="help-block" ng-show="userForm.primary_role_type.$error.required && userForm.primary_role_type.$dirty" ng-class="{ 'error_msg' : userForm.primary_role_type.$error.required }">Role type is required</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">Date Of Birth*</label>
                                    <div class="col-sm-8" ng-class="{'has-error': userForm.primary_dob.$invalid && formValidStatus  }" >
                                        <div class="input-group ui-datepicker">
                                            <input tabindex="4" type="text" 
                                                   class="form-control"
                                                   datepicker-popup="{{format}}"
                                                   ng-model="user.dateOfBirth"
                                                   is-open="openeddob"
                                                   min="minDate"
                                                   max="'2015-06-22'"
                                                   datepicker-options="dateOptions" 
                                                   ng-required="true" 
                                                   close-text="Close">
                                                <span class="input-group-addon" ng-click="opendob($event)"><i class="ti-calendar"></i></span>
                                        </div>
                                        <p class="help-block" ng-show="userForm.primary_dob.$error.required && userForm.primary_dob.$dirty" ng-class="{ 'error_msg' : userForm.primary_dob.$error.required }">Date of Birth is required</p>
                                    </div>                             
                                </div>
                            </div>
                        </div>    
                        
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">Middle Name</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.primary_middlename.$invalid && formValidStatus  }" >
                                        <input tabindex="2" type="text" class="form-control input-sm" name="primary_middlename" ng-model="user.middleName"  placeholder="Enter middlename"   ng-pattern="/^[A-Za-z]*$/" ng-readonly="readStatus">
                                        <p class="help-block" ng-show="userForm.primary_middlename.$error.pattern" ng-class="{ 'error_msg' : userForm.primary_middlename.$error.pattern}">Middlename should be text only</p>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">Username*</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.primary_username.$invalid && formValidStatus  }" >
                                        <input tabindex="1" type="text" class="form-control input-sm" name="primary_username" ng-model="user.userName" placeholder="Enter username"  required="" ng-pattern="/^[A-Za-z]*$/" ng-readonly="readStatus">
                                        <p class="help-block" ng-show="userForm.primary_username.$error.required && userForm.primary_username.$dirty" ng-class="{ 'error_msg' : userForm.primary_username.$error.required }">Username is required</p>
                                        <p class="help-block" ng-show="userForm.primary_username.$error.pattern" ng-class="{ 'error_msg' : userForm.primary_username.$error.pattern}">Username should be text only</p>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">Upload doc*</label>
                                    <div class="col-sm-8">
                                            <button type="file" ngf-select ng-model="user.file" name="file"    
                                                accept="image/*" ngf-max-size="2MB" required
                                                ngf-model-invalid="errorFile" class="btn btn-success"> Select File </button>
                                            <img ng-show="userForm.file.$valid" ngf-thumbnail="user.file || 'images/g1.jpg'" class="thumb" ngf-resize="{width: 20, height: 20, quality: 0.9}">
                                            <p ng-show="userForm.file.$error.maxSize" ng-class="{ 'error_msg' : userForm.file.maxSize }" >File too large 
                                            {{errorFile.size / 1000000|number:1}}MB: max 2M</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4 > <strong>&nbsp; Contact Details</strong></h4>
                        <hr/>
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group" >
                                    <label   class="col-sm-3 control-label">Address Line1*</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.contact_address_line1.$invalid && formValidStatus  }" >
                                        <input tabindex="8" type="text" class="form-control input-sm" name="contact_address_line1" placeholder="Enter address line1" ng-model="user.addressLine1" required="" ng-readonly="readStatus">
                                        <p class="help-block" ng-show="userForm.contact_address_line1.$error.required && userForm.contact_address_line1.$dirty" ng-class="{ 'error_msg' : userForm.contact_address_line1.$error.required }">Address line1 is required</p>
                                    </div>
                                </div>


                                <div class="form-group" >
                                    <label  class="col-sm-3 control-label">City*</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.contact_city.$invalid && formValidStatus  }" >
                                        <input tabindex="10" type="text" class="form-control input-sm" name="contact_city" placeholder="Enter city"  required="" ng-model="user.city" ng-pattern="/^[A-Za-z\s]*$/" ng-readonly="readStatus">
                                        <p class="help-block" ng-show="userForm.contact_city.$error.required && userForm.contact_city.$dirty" ng-class="{ 'error_msg' : userForm.contact_city.$error.required }">City is required</p>
                                        <p class="help-block" ng-show="userForm.contact_city.$error.pattern" ng-class="{ 'error_msg' : userForm.contact_city.$error.pattern}">City should be text only</p>
                                    </div>
                                </div>


                                 <div class="form-group" >
                                    <label   class="col-sm-3 control-label">Country*</label>
                                    <div class="dropdown col-sm-8" ng-class="{ 'has-error' : userForm.contact_country.$invalid && formValidStatus  }" >
                                        <select tabindex="12" class="form-control input-sm"  name="contact_country" ng-model="user.countryId" ng-options="country.country_id as country.country_name for country in countryService.countries" required="" ng-readonly="readStatus" ng-change="GetStates()">
                                            <option value="">---Please select---</option> <!-- not selected / blank option -->
                                        </select>
                                    </div>

                                </div>


                                <div class="form-group" >
                                    <label   class="col-sm-3 control-label">Phone No.1*</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.contact_land_line.$invalid && formValidStatus  }" >
                                        <input tabindex="14" type="text" class="form-control input-sm" name="contact_land_line" placeholder="Enter phone number1"  required="" ng-model="user.phone1" ng-pattern="/^[0-9]*$/" ng-readonly="readStatus">
                                        <p class="help-block" ng-show="userForm.contact_land_line.$error.pattern" ng-class="{ 'error_msg' : userForm.contact_land_line.$error.pattern}">Phone number1 should be number only</p> 
                                        <p class="help-block" ng-show="userForm.contact_land_line.$error.required && userForm.contact_land_line.$dirty" ng-class="{ 'error_msg' : userForm.contact_land_line.$error.required }">Phone number1 is required</p>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label   class="col-sm-3 control-label">Phone No.2</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.contact_land_line1.$invalid && formValidStatus  }" >
                                        <input tabindex="16" type="text" class="form-control input-sm" name="contact_land_line1" placeholder="Enter phone number2" ng-model="user.phone2" ng-pattern="/^[0-9]*$/" ng-readonly="readStatus">
                                        <p class="help-block" ng-show="userForm.contact_land_line1.$error.pattern" ng-class="{ 'error_msg' : userForm.contact_land_line1.$error.pattern}">Phone number2 should be number only</p> 
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label   class="col-sm-3 control-label">Email Id*</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.contact_email_id.$invalid && formValidStatus  }" >
                                        <input tabindex="18" type="email" class="form-control input-sm" name="contact_email_id" placeholder="Enter email address"  required="" ng-model="user.emailId" ng-readonly="readStatus">
                                        <p class="help-block" ng-show="userForm.contact_email_id.$error.required && userForm.contact_email_id.$dirty" ng-class="{ 'error_msg' : userForm.contact_email_id.$error.required }">Email id is required</p>
                                        <p class="help-block" ng-show="userForm.contact_email_id.$error.email" ng-class="{ 'error_msg' : userForm.contact_email_id.$error.pattern}">Invalid email address</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group" >
                                    <label   class="col-sm-3 control-label">Address Line2</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.contact_address_line2.$invalid && formValidStatus  }" >
                                        <input tabindex="9" type="text" class="form-control input-sm" name="contact_address_line2" placeholder="Enter address line2"  ng-model="user.addressLine2" ng-readonly="readStatus">
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">Zip Code*</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.contact_zip_code.$invalid && formValidStatus  }" >
                                        <input tabindex="11" name="contact_zip_code" type="text"  class="form-control input-sm" placeholder="Enter zip code"   required="" ng-model="user.zipCode" ng-readonly="readStatus" >
                                        <p class="help-block" ng-show="userForm.contact_zip_code.$error.required && userForm.contact_zip_code.$dirty" ng-class="{ 'error_msg' : userForm.contact_zip_code.$error.required }">Zip code is required</p>
                                        <p class="help-block" ng-show="userForm.contact_zip_code.$error.pattern" ng-class="{ 'error_msg' : userForm.contact_zip_code.$error.pattern}">Zip code should be text and number only</p> 
                                    </div>
                                </div>
                                                  <div class="form-group" >
                                    <label   class="col-sm-3 control-label">State/Province*</label>
                                    <div class="dropdown col-sm-8" ng-class="{ 'has-error' : userForm.contact_state_province.$invalid && formValidStatus  }" >
                                        <select tabindex="13" class="form-control input-sm"  name="contact_state_province" ng-model="user.stateId" required="" ng-readonly="readStatus" ng-options="state.state_id as state.state_name for state in states">
                                            <option value="">---Please select---</option> <!-- not selected / blank option -->
<!--                                             <option ng-repeat="state in states">{{state.state_name}}</option>-->
                                        </select>
                                        <p class="help-block" ng-show="userForm.contact_state_province.$error.required && userForm.contact_state_province.$dirty" ng-class="{ 'error_msg' : userForm.contact_state_province.$error.required }">State/province is required</p>
                                    </div>

                                </div>
                               <div class="form-group" >
                                    <label   class="col-sm-3 control-label">Extension*</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.contact_extension.$invalid && formValidStatus  }" >
                                        <input tabindex="15" type="text" class="form-control input-sm" name="contact_extension" placeholder="Enter phone extension" ng-model="user.phoneExtension" ng-pattern="/^[0-9]*$/" ng-readonly="readStatus">
                                        <p class="help-block" ng-show="userForm.contact_extension.$error.pattern" ng-class="{ 'error_msg' : userForm.contact_extension.$error.pattern}">Extension should be number only</p> 
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label   class="col-sm-3 control-label">Fax No.*</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : userForm.contact_fax_number.$invalid && formValidStatus  }" >
                                        <input tabindex="17" type="text" class="form-control input-sm" name="contact_fax_number" placeholder="Enter fax number"  required="" ng-model="user.faxNumber" ng-pattern="/^[0-9]*$/" ng-readonly="readStatus">
                                        <p class="help-block" ng-show="userForm.contact_fax_number.$error.pattern" ng-class="{ 'error_msg' : userForm.fax_number.$error.pattern}">Fax number should be number only</p> 
                                        <p class="help-block" ng-show="userForm.contact_fax_number.$error.required && userForm.contact_fax_number.$dirty" ng-class="{ 'error_msg' : userForm.fax_number.$error.required }">Fax number is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <br/>
                    <div class="text-right">
                        <a class="btn btn-w-md btn-gap-v btn-round btn-danger" ng-click="onClickList()" style="cursor: pointer;margin-right: 20px" ng-hide="readStatus"><span class="glyphicon glyphicon-remove"></span> &nbsp; Cancel</a>              
                        <button  class="btn btn-w-md btn-gap-v btn-round btn-success" ng-click="Submit(userForm.$valid)"  ng-hide="readStatus"><span class="glyphicon glyphicon-ok"></span> &nbsp; Submit </button>
                        <a class="btn btn-w-md btn-gap-v btn-round btn-info" ng-click="onClickList()" style="cursor: pointer" ng-show="readStatus"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Back</a>              
                    </div>
            </div>
        </div>    
    </div>
</form>