<div class="page">
    <form name="vanForm" novalidate role="form">
        <div class="panel panel-default">
            <div class="panel-heading"><h3><strong>  {{page}} Van Management</strong>  </h3>
                </div>
                <div class="panel-body">
                   
                    <div class="row">
                        <h4 > &nbsp; <strong>Primary Details </strong></h4>
                                <hr/>
                        <div class="col-md-6">
                            <div class="form-horizontal">
                               
                                <div class="form-group" >
                                    <label   class="col-sm-3 control-label">Van No</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : vanForm.van_no.$invalid && formValidStatus }">
                                        <input type="text" class="form-control input-sm" name="van_no" ng-model="van.vanNo" required="" ng-readonly="readStatus" tabindex="1" placeholder="Enter van no" ng-pattern="/^[0-9]*$/">
                                         <p class="help-block" ng-show="vanForm.van_no.$error.required && vanForm.van_no.$dirty" ng-class="{ 'error_msg' : vanForm.van_no.$error.required }">Van no is required</p>
                                   
                                          </div>
                                </div>   
                               
                            </div>
                        </div>    
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group" >
                                     <label class="col-sm-3 control-label">Van ID</label>
                                     <div class="col-sm-8" ng-class="{'has-error' : vanForm.van_id.$invalid && formValidStatus }">
                                            <input type="text" class="form-control input-sm" name="van_id" placeholder="Enter van id" ng-model="van.vanId" required="" ng-pattern="/^[0-9]*$/" ng-readoanly="readStatus" tabindex="2">
                                            <p class="help-block" ng-show="vanForm.van_id.$error.pattern" ng-class="{ 'error_msg' : vanForm.van_id.$error.pattern }">Van id should be numeric only</p>
                                             <p class="help-block" ng-show="vanForm.van_id.$error.required && vanForm.van_id.$dirty" ng-class="{ 'error_msg' : vanForm.van_id.$error.required }">Van id is required</p>
                                   
                                    </div>
                                </div>
                               
                            </div>    
                        </div>    
                    </div>

                    <div class="row">
                        <h4 > <strong> &nbsp;Working Hours</strong></h4>
                        <hr/>
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                                              
                                <div class="form-group" >
                                    <label   class="col-sm-3 control-label">From</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : vanForm.from.$invalid && formValidStatus }">
                                        <input type="time" class="form-control input-sm" name="from" ng-model="van.from" required="" ng-readonly="readStatus" tabindex="3">
                                       <p class="help-block" ng-show="vanForm.from.$error.required && vanForm.from.$dirty" ng-class="{ 'error_msg' : vanForm.from.$error.required }">From is required</p>
                                   
                                    </div>
                                </div>                               
                                <div class="form-group">
                                        <label  class="col-sm-3 control-label">Current Location</label>
                                        <div class="col-sm-8" ng-class="{ 'has-error' : vanForm.current_location.$invalid && formValidStatus }">
                                            <input type="text" class="form-control input-sm" name="current_location" placeholder="Enter current location" ng-model="van.currentLocation" required="" ng-pattern="/^[A-Za-z\s]*$/" ng-readonly="readStatus" tabindex="5">
                                           
                                         <p class="help-block" ng-show="vanForm.current_location.$error.pattern" ng-class="{ 'error_msg' : vanForm.current_location.$error.pattern}">Current location should be text only</p> 
                                        </div>
                                </div>                                
                                
                                <div class="form-group">
                                    <label   class="col-sm-3 control-label">Other Details</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : vanForm.other_details.$invalid && formValidStatus }">
                                         <textarea rows="3" cols="50" placeholder="Enter other details" tabindex="7" name="other_details" ng-model="otherDetails"></textarea></div>
                                </div>                            
                                
                                
                                
                            </div>
                        </div>    
                        <div class="col-md-6">
                            <div class="form-horizontal">
                               <div class="form-group" >
                                    <label   class="col-sm-3 control-label">To</label>
                                    <div class="col-sm-8" ng-class="{ 'has-error' : vanForm.to.$invalid && formValidStatus }">
                                        <input type="time" class="form-control input-sm" name="to" ng-model="van.to" required="" ng-readonly="readStatus" tabindex="4">
                                       <p class="help-block" ng-show="vanForm.to.$error.required && vanForm.to.$dirty" ng-class="{ 'error_msg' : vanForm.to.$error.required }">To is required</p>
                                   
                                    </div>
                                </div>   
                             
                                <div class="form-group">
                                    <label   class="col-sm-3 control-label">Status</label>
                                    <div class="dropdown col-sm-8" ng-class="{ 'has-error' : vanForm.status.$invalid && formValidStatus }">
                                        <select class="form-control input-sm" tabindex="6" name="status" ng-model="van.status">
                                                <option value="">---Please select---</option>
                                                 <option value="Active">Active</option>
                                                 <option value="Active">Inactive</option>
                                        </select>
                                    <p class="help-block" ng-show="vanForm.status.$error.required && vanForm.status.$dirty" ng-class="{ 'error_msg' : vanForm.status.$error.required }">Status is required</p>
                                   
                                    </div>
                                </div>
                               
                               
                               
                            </div>
                        </div>    
                    </div>
                  
  
                    <br/>
                    <div>
                  <div class="col-md-9">
                            
                        </div>    
                        <button  class="btn btn-w-md btn-gap-v btn-round btn-success pull-right" ng-click="Submit(vanForm.$valid)"  ng-hide="readStatus"><span class="glyphicon glyphicon-ok"></span> &nbsp; Submit </button>
                        <a class="btn btn-w-md btn-gap-v btn-round btn-danger col-sm-offset-1" ui-sref="manageVan" style="cursor: pointer" ng-hide="readStatus"><span class="glyphicon glyphicon-remove"></span> &nbsp; Cancel</a>              
                        <a class="btn btn-w-md btn-gap-v btn-round btn-info pull-right" ui-sref="manageVan" style="cursor: pointer" ng-show="readStatus"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Back</a>                                     
                    </div> 
            </div>
        </div>
    </form>
</div>    

